.root{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bgBottomGradient);
    padding-top: 65px;
}

.AddCarBody{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 800px;
}

.AddCarBody h1{
    margin: 15px ;
}
