.contactBody{
    height: 100vh;
    width: 100vw;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.contactTitle{
    color: #fafafa;
    margin-top: 15px;
}

