.root{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    height: 100%;
}

.homeBody h2{
    padding-top: 65px;
}

.usrInTitle{
    font-style: italic;
}