.root{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--bgBottomGradient);
    padding-top: 65px;
}

.screenContainer{
    display: flex;
    flex-direction: column;
}

.screenTitle{
    display: flex;
    align-self: center;
}

.mainContainer{
    display: grid;
    grid-template-areas: 
        "newcol usercols"
        "newcol usercols";
        grid-template-columns: 1fr 3fr;
    gap: 20px;
    align-items: start;
}

.newColSection{
    grid-area: newcol;
    margin-left: 10px;
    padding: 10px;
    max-width: 300px;
    border-radius: 10px;
    height: 100%;
    color: #fafafa;
}

.newColSectionTitle{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
}

.newColSectionForm{
    border-radius: 10px;
}

.newColSectionFormItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
}

.newColSectionFormItem label{
    align-self: flex-start;
}

.newColSectionFormInput{
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    min-height: 20px;
    padding: 10px 12px;
    color: #333;
}

.newColDesc{
    width: 100%;
    min-height: 80px;
    resize: none;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.newColCoverPreviewContainer{
    margin: 5px 0 5px 0;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    background-color: #1e1e1e;
}

.newColCoverPreview{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.newColCover{
    display: none;
}

.newColCoverLabel{
    background-color: #024899;
    border: 1px solid #222;
    color: #fafafa;
    border-radius: 8px;
    width: 75%;
    min-width: 180px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.userCols{
    grid-area: usercols;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 10px;
}