.ProfileScreenBody{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userBriefDataContainer{
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 400px;
    padding: 20px;
}

.profilePicture{
    height: 300px;
    width: 300px;
    border: 4px solid #0d1b2a;
    border-radius: 50%;
}

.fileInput{
    display: none;
}

.profilePictureOverlayContainer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0;
    z-index: 1;
    overflow: hidden;
}

.profilePictureOverlay{
    background: linear-gradient(to top, rgba(0,0,0,0.9) 65%, rgba(0,0,0,0));
    height: 60px;
    padding: 40px;
    display: flex;
    align-items: flex-end;

}

.profilePictureOverlayContainer:hover{
    opacity: 1;
}

.userNameInputContainer{
    display: flex;
    align-items: center;
}

.userNameInput{
    font-weight: bold;
    color: #fafafa;
    font-size: 20px;
    height: 50px;
    text-align: center;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
}

.userNameIcon{
    cursor: pointer;
}

.userDataContainer{
    display: flex;
    flex-direction: column;
    min-width: 250px;
    max-width: 350px;
    user-select: none;
}

.userDataContainer label{
    color: #fafafa;
    font-weight: 500;
    font-size: 20px;
}

.formInput{
    color: #fafafa;
    font-size: 18px;
    height: 50px;
    padding: 0px 2px 0px 15px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #0d1b2a;
}

.editingMode{
    font-style: italic;
    outline: none;
    background-color: #1b263b;
}

.editingMode:focus{
    border-bottom: 1px solid #fafafa;
    background-color: #2c3e50;
}

.saveOrEdit{
    cursor: pointer;
    margin-top: 20px;
    gap: 20px;
}

.cancelBtn{
    cursor: pointer;
}

.saveBtnDisabled{
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
}

.saveBtnActive{
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.userNameSaveAndCancelContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}