.TCBody {
    font-family: Inter, system-ui, sans-serif;
    line-height: 1.6;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
}

.termsContainer{
    max-width: 850px;
    padding: 36px;
    margin-top: 40px;
}

.termsContainer h1 {
    margin-bottom: 12px;
}

.termsContainer h2 {
    margin-top: 28px;
}

.termsContainer h3 {
    margin-top: 20px;
}

.termsContainer ul {
    margin: 12px 0;
    padding-left: 20px;
}

.termsContainer p {
    margin: 12px 0;
}
