.addCarForm-section{
    display: flex;
    flex-direction: column;
}

.imgPreview{
    object-fit: cover;
    margin: 5px;
    width: 90px;
    height: 90px;
    aspect-ratio: 1;
}

#carNotesInput{
    resize: none;
}

.AddCarForm-imgSection-preview{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100px;
    max-height: 200px;
    width: 400px;
    overflow: hidden;
}

.AddCarForm-imgSection-message{
    color: red;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
