.addCarForm-section{
    display: flex;
    flex-direction: column;
}

.imgPreview{
    height: 60px;
}

#carNotesInput{
    resize: none;
}

.AddCarForm-imgSection-preview{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.AddCarForm-imgSection-message{
    color: red;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

