.addCarFormSection{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "basic basic"
        "more more"
        "droparea droparea"
        "img img"
        "btnSave btnSave";
    gap: 20px;
}

.addCarFormBasicFields{
    grid-area: basic;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.fieldContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imgPreview{
    object-fit: cover;
    margin: 5px;
    width: 90px;
    height: 90px;
    aspect-ratio: 1;
}

.carNotesInput{
    resize: none;
}

.AddCarFormImgSection{
    grid-area: img;
}

.imgSectionHidden{
    display: none;
}

.AddCarFormImgSectionPreview{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 100px;
    max-height: 200px;
    width: 100%;
    padding: 0px 10px;
    overflow: hidden;
}

.AddCarFormImgSectionPreview img{
    border-radius: 15px;
}

.AddCarFormImgSectionMessage{
    color: red;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropaAreaWrapper{
    width: 100%;
    height: 160px;
    width: 100%;
    padding: 15px 0px 15px 0px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #fafafa;
    border-radius: 20px;
    position: relative;
    
}

.filesUploadInput{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    cursor: pointer;
}

.addCarFormSection input{
    color: #fafafa;
    font-size: 18px;
    height: 50px;
    padding: 0px 2px 0px 15px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #0d1b2a;
}

.addCarFormSection select{
    color: #fafafa;
    font-size: 18px;
    height: 50px;
    padding: 0px 2px 0px 15px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #0d1b2a;
    cursor: pointer;
}

.addCarFormSection textarea{
    color: #fafafa;
    font-size: 18px;
    height: 50px;
    padding: 0px 2px 0px 15px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #0d1b2a;
}

.addCarFormSection input:focus{
    border-bottom: 1px solid #fafafa;
    background-color: #2c3e50;
}

.addCarFormSection select:focus{
    border-bottom: 1px solid #fafafa;
    background-color: #2c3e50;
}

.addCarFormSection textarea:focus{
    border-bottom: 1px solid #fafafa;
    background-color: #2c3e50;
}

.addCarFormSection label{
    color: #fafafa;
    font-weight: 500;
    font-size: 20px;
}

.dropArea{
    grid-area: droparea;
}

.dropArea label{
    color: #fafafa;
    font-weight: normal;
    font-size: 14px;
}

.AddCarFormMoreDataSection{
    grid-area: more;
}

.moreDataSectionHidden{
    grid-area: more;
    display: none;
}

.addCarFormMoreInfoFields{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.AddCarFormMoreInfoButton{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.saveBtnContainer{
    grid-area: btnSave;
    width: 100%;
    display: flex;
    justify-content: center;
}

.addCarFormSaveButton{
    background-color: #0a76e3;
}

.carColorInput{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.currencyFieldContainer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

.currencyFieldContainer select,
.currencyFieldContainer input {
    width: 100%;
    min-width: 0;
}