.cardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0c1020;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 250px;
    height: 350px;
    overflow: hidden;
    position: relative; 
}

.cardContainer:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.35);
}

.cardInfoContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 110px;
    align-items: baseline;
    gap: 10px;
    padding: 0 10px 0 10px;
}

.cardLine1{
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.infoPills {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;       /* permite varias líneas si hay muchas */
    gap: 6px;
}

.pill {
    background-color: #1e2737;  /* o tu azul */
    color: #fafafa;
    padding: 3px 8px;
    font-size: 0.70rem;
    border-radius: 10px;
    white-space: nowrap;        /* que cada pill no se parta */
}

.cardImg{
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.favoriteIcon{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
    cursor: pointer;
    transition: transform 0.15s ease, opacity 0.15s ease;
    filter:
        drop-shadow(0 0 2px rgba(0,0,0,0.4))   /* contorno oscuro */
        drop-shadow(0 2px 3px rgba(0,0,0,0.3)); /* sombra suave */
}

.favoriteIcon:hover{
    transform: scale(1.1);
}

.carCardBtn{
    align-self: flex-end;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 40px;
}