.row{
    font-size: 16px;
}

.lastRow{
    margin-top: auto;
    font-size: 14px;
    font-style: italic;
    text-align: right;
}

.favoriteIcon{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
    cursor: pointer;
    transition: transform 0.15s ease, opacity 0.15s ease;
    filter:
        drop-shadow(0 0 2px rgba(0,0,0,0.4))   /* contorno oscuro */
        drop-shadow(0 2px 3px rgba(0,0,0,0.3)); /* sombra suave */
}

.favoriteIcon:hover{
    transform: scale(1.1);
}