.dashBoard{
    background-color: transparent;
    padding: 10px;
    width: 700px;
    max-height: 550px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-areas:
        "stats stats stats"
        "btns btns btns"
        "recAdd recAdd recAdd"
        "wl wl wl";

    gap: 30px;
    align-items: center;
    justify-items:center

}


.stats{
    grid-area: stats;
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 10px;
}
.btns{
    grid-area: btns;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.recentlyAddedCars{
    grid-area: recAdd;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.recAddTitleContainer{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.recAddCardsContainer{
    width: 100%;
    display: flex;
    gap: 10px;
}

.perfil{
    grid-area: perfil;
}
.newcar{
    grid-area: newcar;
}

.noRecentCars{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.noRecentCarsText{
    font-size: 30px;
    font-style: italic;
}

.statsContainer{
    grid-area: wl;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.statsTitleContainer{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.statCardsContainer{
    width: 100%;
    display: flex;
    gap: 10px;
}

.recentCardContainer img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    max-height: 150px;
}

.recentCardContainer{
    background-color: #151c2d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    max-height: 300px;
    border-radius: 10px;
    overflow: hidden;   
    cursor: pointer;
}



.recentCardInfo{
    width: 100%;
    height: 100%;
    padding: 5px 0px 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.recentCardInfo p:nth-of-type(1){
    font-weight: bold;
}

.statCardContainer{
    background-color: #151c2d;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "carImg carInfo"
        "carImg carInfo"
        "carImg carInfo";
    padding: 10px;
    gap: 10px;
    width: 100%;
    max-height: 180px;
    border-radius: 10px;
    overflow: hidden;   
    cursor: pointer;
}

.statCardContainer img{
    grid-area: carImg;
    height: 70px;
    border-radius: 10px;
}

.statCardInfo{
    grid-area: carInfo;
    width: 100%;
    height: 100%;
    padding: 5px 0px 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.statCardInfo p:nth-of-type(1){
    font-weight: bold;
}

.statCardInfo p:nth-of-type(2){
    font-size: 12px;
}

.statCardInfo p:nth-of-type(3){
    font-size: 12px;
    font-style: italic;
}