.header{
    width: 100vw;
    height: 65px;
    padding: 0px 10px;
    background: var(--bgLeftGradient);
    display: flex;
    align-items: center;
    justify-content: space-between
}

.homeLink{
    height: 100%;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.homeLink img{
    height: 100px;
    -webkit-filter: grayscale(30%);
	filter: grayscale(30%);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
    cursor: pointer;
}

.homeLink img:hover{
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.headerProfileContainer{
    user-select: none;
    height: 100%;
    padding: 5px;
    gap : 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    cursor: pointer;
}

.headerProfilePic{
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.headerMenu{
    background-color: #0d1b2a;
    width: 180px;
    position: absolute;
    z-index: 1;
    top: 65;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
    border: 4px solid #0d1b2a;
    border-top: none;

}