.login-section{
    display: flex;
    flex-direction: column;
    background-color: pink;
    justify-content: center;
    align-items: center;
}

.login-form{
    display: flex;
    flex-direction: column;
    width: 50%;
}