.login-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    min-width: 400px;
}

.login-section a{
    color: inherit
}

.login-section a:visited{
    color: inherit
}

.login-form{
    display: flex;
    flex-direction: column;
    min-width: 60%
}