.passwordInputContainer{
    position: relative;
    display: inline-block;
    width: 100%;
}

.pwdInput{
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
}

.passwordToggleBtn{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
}