.registerSection{
    color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 800px;
    min-width: 400px;
    min-height: 600px;
    background-color: #fafafa;
    border-radius: 15px;
}

.registerSection label{
    color: #222222;
    font-weight: 600;
    margin-top: 10px;
}

.registerSection input{
    color: #444444;
    font-weight: 500;
    padding: 6px;
    border: none;
    border-bottom: 1px solid #333333;
    outline: none;
    background-color: transparent;
}

.registerSection input::placeholder{
    font-style: italic;
    font-weight: 400;
}
.registerSection a{
    color: inherit;
    text-decoration: none;
    font-weight: 600;
}

.registerSection a:visited{
    color: inherit
}

.registerForm{
    display: flex;
    flex-direction: column;
    min-width: 70%
}

.loginLink{
    align-self:end;
    margin-bottom: 10px;
    font-size: 12px;
}

.loginLinksContainer{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    justify-content: center;
}

.altLogins{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
}

.altLoginBtn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
}

.googleLogin{
    background-image: url("/Google-icon.webp");
    transition: all 0.2s ease;
}

.facebookLogin{
    background-image: url("/Facebook-icon.png");
    transition: all 0.2s ease;
    visibility: hidden;
}

.facebookLogin:hover {
    /*background-color: #efa424;*/
    box-shadow: 3px 1px #3953a8;
    top: 1px;
}

.googleLogin:hover {
    /*background-color: #efa424;*/
    box-shadow: 3px 1px #3953a8;
    top: 1px;
}

.registerBtn{
    color: #fafafa;
    font-size: 18px;
    background: linear-gradient(to bottom , #3953a8, #a777e3);
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.registerBtn:hover {
    /*background-color: #efa424;*/
    box-shadow: 3px 1px #3953a8;
    top: 1px;
}

.registerBtn:active{
    transform: scale(0.9);
}

.registerErrorLabel{
    font-style: italic;
    align-self:end;
    color: red;
    height: 20px;
    font-size: 14px;
}