.resetPass-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    min-width: 400px;
}

.resetPass-section a{
    color: inherit
}

.resetPass-section a:visited{
    color: inherit
}

.resetPass-form{
    display: flex;
    flex-direction: column;
    width: 50%;
}