*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
}
:root {
  margin: 0;
  padding: 0;
  /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  justify-content: center;
  /*color-scheme: light dark;*/
  background: linear-gradient(to bottom, #1e1e2f, #121212);
  color: #fafafa;
  background-color: rgba(66, 66, 66, 0.726);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

